<!DOCTYPE html>
<html>
  
  
  <body>
    <p>Hello, <span id="username"></span></p>
    <button type="button" onclick="myFunction()">Click me!</button>
    <main>
      
      <section class="foods">
        <div id = "restaurants">
          
        <!--
        <div id = "restaurant">
          <h2>Restaurant Name</h2>
        </div>
        
        <div id = "description">
          <p>description</p>
        </div>
                
        <div id = "hours">
          <p>Open hours today/next</p>
        </div>
        
        <div id = "location">
          <p>Address</p>
        </div>
        
        <div class="actions">
          <button class="back">Back</button>
          <button class="next">Next</button>
        </div>-->
        
        <!-- maybe a link to the website, idrk what were working with -->

        </div>
        
        
      </section>
      
      <script>
        //fetch('/findfood')
        
        const parsed = JSON.parse(response);
        document.write(parsed.status);
        
      <!--document.getElementById('username').innerHTML = user.firstname + " " + user.lastname;-->
      
        
      <!-- not sure what im doing so doing it to the side -->

        
      /*
        window.addEventListener('load', () => {
          
          const dRes = document.querySelector("#restaurants"); //displayed restaurant
          
          const ResName = document.createElement("div");
          ResName.classList.add("restaurant");            //this is actually just for styling with css, but im gonna keep doing it with the tags cuz y not
          const name = document.createElement("h2");
          var txt = document.createTextNode("Restaurant Name");
          name.appendChild(txt);
          ResName.appendChild(name);
          dRes.appendChild(ResName);

          const desc = document.createElement("div");
          desc.classList.add("description");
          const description = document.createElement("p");
          var txt = document.createTextNode("This is a tasty restaurant");
          description.appendChild(txt);
          desc.appendChild(description);
          dRes.appendChild(desc);




        });
      */     
      </script>
      
   </main>
    
  </body>
  
</html>
